/* reset */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

:root{
    --clr-primary-400: hsl(213, 84%, 40%);
    --clr-primary-800: hsl(213, 54%, 80%);
    --clr-primary-900: hsl(213, 34%, 87%);

    --clr-neutral-100: hsl(0, 9%, 7%);
    --clr-neutral-300: hsl(0, 0%, 30%);
    --clr-neutral-700: hsl(190, 2%, 51%);
    --clr-neutral-800: hsl(0, 9%, 94%);
    --clr-neutral-900: hsl(0, 9%, 97%);
    --font-family: 'fira-sans-black', sans-serif;
    --fs-xsmall: 0.7rem;
    --fs-small: 0.9rem;
    --fs-large: 2.2rem;
    --fs-xlarge: 2.6rem;
    --fw-normal: 400;
    --fw-bold: 700;
    --clr-neutral-1000: hsl(0, 0%, 100%);
    --clr-winered-200: hsl(0, 60%, 19%);

    --clr-black-background: hsl(0, 0%, 0%);
    --clr-red-button: #E83F57;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--clr-neutral-700);
}
.page-padding{
    margin: 0 auto;
    /* Begränsa innehållets bredd */
    max-width: 1440px;
    /* Lägger till inre marginaler på sidorna */
    padding: 0 0;
    width: 100%;
    background-color: var(--clr-black-background);
}  

.footer-padding {
    margin: 0 auto;
    /* Begränsa innehållets bredd */
    max-width: 1440px;
    /* Lägger till inre marginaler på sidorna */
    padding: 0 0;
    width: 100%;
    background-color: var(--clr-neutral-300);
 
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrerar vertikalt */
    align-items: center;
    width: 1000px;
    margin: 3em auto;
}


.row {
    display: flex;
    /* Fördela korten jämnt */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* Se till att hela raden tar upp tillgänglig bredd */
}

.topimage  {
    max-width: 100%;
    height: auto;
    display: block;
    /* Centrerar bilden horisontellt */
    justify-self: center;
    /* Vertikal centrering */
    align-self: center;
}

.basket {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 150px;
    width:100%;
    max-width: 1440px;
    padding-left: 16%;

    h1 {
        color: hsl(0, 0%, 100%);
        font-family: var(--font-family);
        font-size: var(--fs-xlarge);
        margin: 0;
    }
}

.row.with-gap {
    display:flex;
    flex-wrap: wrap;
    gap: 1em;
    /* Centrera innehåll om det behövs */
    justify-content: center;
}

.row.with-gap .card {
    /* Två kort som delar utrymme för tre */
    flex: 1 1 calc(50% - 0.5em);
    max-width: calc(50% - 0.5em);
    padding: 0 0 0 0.5em;
    background-color: var(--clr-neutral-1000);
    
    img {
            /* margin: 0 2em; */
            max-width: 100%;
            padding: 4em 1em 0 1em;
        }
    
        header {
            h2 {
                color: var(--clr-neutral-100);
                font-size: var(--fs-large);
                padding: 0.5em 1rem;
       
            }
        }
    
        section.shopping-cart {
            width: 1000px;
        }
    
        p {
            color: var(--clr-neutral-100);
            font-size: var(--fs-small);
            width: 90%;
            text-align: start;
            padding: 0 1rem;
        }
    }

.card {
    flex:1 1 calc(33.33% - 20px);
    /* Inkludera padding i bredd/box */
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    max-width: calc(33.333%);
    background-color: var(--clr-black-background);
    /* border: 1px solid #ccc; */

    img{
        max-width: 100%;
    }

        header {
            h2 {
                font-family: var(--font-family);
                font-weight: var(--fw-bold);
                color: var(--clr-neutral-900);
                font-size: var(--fs-large);
                padding: 0.5em 1rem;
            }
        }
        section.shopping-cart{
                width:1000px;
            }
            p {
                font-family: var(--font-family);
                color: var(--clr-neutral-900);
                font-size: var(--fs-small);
                width: 100%;
                text-align: start;
                padding: 0 1rem;
            }
    }

    .button-container {
        display: flex;
        max-width: 1030px;
        width:100%;
        justify-content: end;
        padding: 1.8rem 0.5rem;
    }

    .button-s {
        background-color: var(--clr-red-button);
        color: var(--clr-neutral-1000);
        font-family: var(--font-family);
        font-size: var(--fs-xsmall);
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        padding: 8px 12px;
        margin: 1.5rem 0.8rem;
    }

    .button-xl {
        background-color: var(--clr-red-button);
        color: var(--clr-neutral-1000);
        font-family: var(--font-family);
        font-size: var(--fs-small);
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        padding: 15px 20px;
        margin: 1.5rem 0.8rem;
    }
        .page-padding footer{
        background-color: var(--clr-neutral-300);
        width: 1440px;
    }

        .table-container {
            display: flex;
            max-width: 1000px;
            justify-content: center;
            margin: 3rem auto;
        }
    
        .highlight {
            border-top: 2px solid gray;
        }
    
    
        table {
            width: 1000px;
            border-collapse: collapse;
            /* Viktigt för att kunna sätta fasta breddvärden */
            table-layout: fixed;
        }
    
        th,
        td {
            color: var(--clr-neutral-1000);
            text-align: left;
            font-size: var(--fs-small);
            font-family: var(--font-family);
            padding: 0.6rem;
        }
    
        th:nth-child(1),
        th:nth-child(2),
        th:nth-child(3) {
            background-color: var(--clr-winered-200);
        }
    
        th:nth-child(1),
        td:nth-child(1) {
            width: 40%;
    
            /* Första kolumnen */
        }
    
        th:nth-child(2),
        td:nth-child(2) {
            width: 30%;
            /* Andra kolumnen */
        }
    
        th:nth-child(3),
        td:nth-child(3) {
            width: 30%;
            /* tredje kolumnen */
        }

    .flex-footer-container {
        display: flex;
        gap: 1rem;
        align-items: start;
        justify-content: start;
        height: 20vh;
        width: 85%;
    }

    .navigation,
    .adress,
    .social-media {
        flex: 1 1  15%;
        /* Gör att varje sektion får 30% bredd (eller annan procent) */
        min-width: 300px;
        /* Lägg till en minimi-bredd för att förhindra att sektionerna blir för smala */
        text-align: start;
        margin-bottom: 1rem;
        /* border: 1px solid #fff; */
    }

     .navigation h3{
        font-family: var(--font-family);
        font-size: var(--fs-large);
        font-weight: var(--fw-bold);
        color: var(--clr-neutral-1000);
        padding: 0.5em 0 0 0;
        justify-self: center;
        text-align: start;
    }
    .adress h3{
        font-family: var(--font-family);
        font-size: var(--fs-large);
        font-weight: var(--fw-bold);
        color: var(--clr-neutral-1000);
        padding: 0.5em 0 0 0.1em;
        justify-self: center;
        text-align: start;
    }
    .social-media h3 {
        font-family: var(--font-family);
        font-size: var(--fs-large);
        font-weight: var(--fw-bold);
        color: var(--clr-neutral-1000);
        padding: 1.9rem 0 1rem 0rem;
        justify-self: end;
        text-align: start;
        /* border: 1px solid #fff; */
    }

    .navigation ul,
    .adress ul,
    .social-media ul {
        list-style-type: none;
        /* max-width: fit-content; */
        text-align: start;
        justify-self: center;
        /* border: 1px solid #fff; */
    }

    .navigation ul>li{
    color: var(--clr-neutral-1000);
        font-family: var(--font-family);
        line-height: 1.5rem;
        padding: 0.5em 0 0 0.2rem;
        text-align: start;
        /* border: 1px solid #fff; */
    }
    
    .adress ul>li{
    color: var(--clr-neutral-1000);
    font-family: var(--font-family);
    line-height: 1.5rem;
    padding: 0.5em 0 0 1.9em;
    text-align: start;
    /* border: 1px solid #fff; */
    }

    .social-media {
        color: var(--clr-neutral-1000);
        font-family: var(--font-family);
        font-size:x-large;
        line-height: 2.5rem;
        padding: 0;
        text-align: center;
        justify-self: end;
        max-width: fit-content;
        padding: 0 0 0 1.9em;
        /* border: 1px solid #fff; */
    } 
    
    
    




