/* reset */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

:root{
    --clr-primary-400: hsl(213, 84%, 40%);
    --clr-primary-800: hsl(213, 54%, 80%);
    --clr-primary-900: hsl(213, 34%, 87%);

    --clr-neutral-100: hsl(0, 9%, 7%);
    --clr-neutral-300: hsl(0, 0%, 30%);
    --clr-neutral-700: hsl(190, 2%, 51%);
    --clr-neutral-800: hsl(0, 9%, 94%);
    --clr-neutral-900: hsl(0, 9%, 97%);

    --clr-black-background: hsl(0, 0%, 0%);

    --fs-small: 0.9rem;
    --fs-large: 1.5rem;
    --fw-normal: 400;
    --fw-bold: 800;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--clr-neutral-700);
}

.page-padding {
    margin: 0 auto;
    max-width: 1440px;
    /* Begränsa innehållets bredd */
    padding: 0 1em;
    /* Lägger till inre marginaler på sidorna */
}

.flex-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.card-container-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    /* Fördela korten jämnt */
    justify-content: space-between;
    flex-wrap: wrap;
}

.topimage  {
    max-width: 100%;
        height: auto;
        display: block;
        /* Centrerar bilden horisontellt */
        justify-self: center;
        /* Vertikal centrering */
        align-self: center;
}
    flex:1;
    justify-content: center;
} */

.row.no-gap {
    /* Centrera innehåll om det behövs */
    justify-content: center;

}


.card {
    flex:1 1 calc(33.33% - 20px);
    /* Inkludera padding i bredd/box */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    max-width: calc(33.333%);
    background-color: var(--clr-black-background);
    border: 1px solid #ccc;

    img{
        margin: 0 2em;
        max-width: 50%;
        padding: 4em 1em 0 1em;
    }

        header {
            h2 {
                color: var(--clr-neutral-900);
                font-size: var(--fs-large);
                padding: 0.5em 3rem;
            }
        }
        section.shopping-cart{
                width:1000px;
            }
            p {
                color: var(--clr-neutral-900);
                font-size: var(--fs-small);
                width: 90%;
                text-align: start;
                padding: 0 3rem;
            }
    }


